{% extends 'base.html.twig' %}

{% block title %}Список новостей{% endblock %}

{% block body %}
    <a href="{{ path('news_index') }}">Обновить ленту</a>
    {% if app.user and app.user.newsCategories %}
        {% set categories = app.user.newsCategories %}
        <div class="dropdown">
            <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown">
                Фильтр
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('news_index') }}">Сбросить</a></li>
                <li class="divider"></li>
                {% for category in categories %}
                    <li><a href="{{ path('news_filter', {'category': category.englishName}) }}">{{ category }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <h1>Список новостей</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Заголовок</th>
                <th>Новость</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>
                    <label style="color: #2398D6">
                        <a href="{{ item.link }}">{{ item.title }}</a>
                    </label>
                    <label>Дата публикации: {{ item.pubDate|date('d-m-Y H:m') }}</label>
                </td>
                <td><label>{{ item.description }}</label></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Список пуст</td>
            </tr>
            <td colspan="4">
                <a href="{{ path('enter_category', {'id': app.user.id}) }}">Сформировать интересы</a>
            </td>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
