<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Склад{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
{% block header %}
    <nav class="navbar navbar-default">
        <div class="container-fluid" style="background-color: #505050">
            <label class="navbar-header">
                {% if app.user %}
                    <a class="navbar-brand" href="{{ path('logout') }}"><p style="color: #FFFFFF">Выйти</p></a>
                    <a class="navbar-brand" href="{{ path('user_show', {'id': app.user.id}) }}"><p style="color: #FFE484">{{ app.user.login }}</p></a>
                {% else %}
                    <a class="navbar-brand" href="{{ path('login') }}"><p style="color: #73C347">Войти</p></a>
                    <a class="navbar-brand" href="{{ path('user_index') }}"><p style="color: #FFE484">Склад</p></a>
                {% endif %}
            </label>

            <div>
                <ul class="nav navbar-nav">
                    {% if app.user %}
                        <li>
                            <a href="{{ path('news_index') }}" style="color: lightgray">
                                Лента новостей
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('news_category_index') }}" style="color: lightgray">
                                Категории новостей
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

<div class="container-fluid">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
