{% extends 'base.html.twig' %}

{% block title %}Список Пользователей{% endblock %}

{% block body %}
    <h1>Список Пользователей</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Категории новостей</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td><a href="{{ path('user_show', {'id': user.id}) }}">{{ user.login }}</a></td>
                <td>{{ user.newsCategories|join(', ')}}</td>
                <td>{{ user.statusName}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Записей не найдено</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Добавить</a>
{% endblock %}
