{% extends 'base.html.twig' %}

{% block title %}{{ user.login }}{% endblock %}

{% block body %}
    <h1>{{ user.login }}</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Login</th>
                <td>{{ user.login }}</td>
            </tr>
            <tr>
                <th>Категории</th>
                <td>{{ user.newsCategories|join(', ') }}</td>
            </tr>
            <tr>
                <th>Статус</th>
                <td>{{ user.statusName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('enter_category', {'id': user.id}) }}">Ваши интересы</a>
    <br>
    <a href="{{ path('user_edit', {'id': user.id}) }}">Редактировать профиль</a>
    <br>
    <a href="{{ path('user_index') }}">Назад к списку</a>
{% endblock %}
